body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    height: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #4c516d;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#content {
    width: 100%;
    padding: 15px;
}

.sidebar-header {
    padding: 20px;
    text-align: center;
    background: #343a40;
}

.sidebar-header h3 {
    color: #fff;
}

ul.components {
    padding: 20px;
    border-bottom: 1px solid #47748b;
}

ul p {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}

ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}

ul li a:hover {
    color: #ffffff;
    background: #343a40;
}

.dashboard-section {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
